{% extends 'bootstrap.html.twig' %}

{% block body %}
    <h2>Sign up form</h2>
    <hr>
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
<button type="submit">SignUp</button>
{{ form_end(form) }}
{% endblock %}